header {
  background: #f0f0f0;
  padding: .1rem 0;
  .secTitMain {
    width: 94%;
    height: .6rem;
    line-height: .6rem;
    margin: 0 auto;
    position: relative;
    color: #666;
    text-align: center;
    font-size: .3rem;
    font-weight: 700;
    .secTitAdress {
      color: #666;
      font-weight: 400;
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: .6rem;
      overflow: hidden;
      padding-right: .3rem;
      font-size: .28rem;
      background: url('//s5.dxlfile.com/img/b1b5330ac05eb6d9cfd0a4fbf94b9f35.png') no-repeat 100%;
      background-size: .2rem auto;
      a {
        color: #666;
        font-size: .28rem;
        display: block;
     }
    }
  }
} 
